{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}
<div class="container mb-5">
	<div class="row">
		<div class="col"></div>
	    <div class="col-6">
	      <img src="{% static 'portfolio/liverpool-banner.png' %}" class="img-fluid">
	    </div>
	    <div class="col"></div>
	</div>
</div>
<div class="container">

	<h1>Projects</h1>
	<hr>
	<div class="row">
		{% for project in projects %}
		<div class="col-lg-4 col-md-6 mb-4">
			
			<h4>{{ project.title }}</h4>

			<p>{{ project.description }}</p>
			{% if project.url %}
			<a href="{{ project.url }}"><img src="{{ project.image.url }}"  class="img-fluid  mb-2"></a>
			{% else %}
			<img src="{{ project.image.url }}"  class="img-fluid  mb-2">
			{% endif %}
		</div>
		{% endfor %}
	</div>
	
</div>

{% endblock %}